<!DOCTYPE html>
<html>
	<head>
	<style>
    body {
      background-image: url("/book.jpg");
      background-repeat: no-repeat;
      background-position: right top;
      margin-right: 200px;
    }
    </style>
    </head>
  <body class='container'>
    <p>You cast: <%= Choices[@vote] %></p>
    <p><a href='/results'>See the results!</a></p>
  </body>
</html>